In [27]:

import nltk
from nltk import word_tokenize
from nltk import WordNetLemmatizer
import pandas as pd
import seaborn as sns
data=pd.read_csv('twitter_training.csv')
##creating words which have influence on sentiments and lemmatizing them 
lemm=WordNetLemmatizer()
words=set()
emotionalwords=["RB","RBR","RBS","JJ","JJR","JJS"]
for i in data["text"][:10000]:
    if str(i)==i:
        jk=word_tokenize(i)
        for k in nltk.pos_tag(jk):
            if k[1] in emotionalwords:
                words.add(k[0].lower())
            else:
                pass
    else:
        pass
words=list(words) 
print(words[:10])

['pitiful', 'almost', 'thhat', 'damned', 'fairly', 'negative', 'extensive', '20th', 'playthrough', 'essentially']

In [5]:
import pandas as pd
data2=pd.read_csv("twitter_training.csv")
data2.head(10)

,2401,Borderlands,sentiment,text
0,2401,Borderlands,Negative,I am coming to the borders and I will kill you...
1,2401,Borderlands,Negative,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Negative,im coming on borderlands and i will murder you...
3,2401,Borderlands,Negative,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Negative,im getting into borderlands and i can murder y...
5,2402,Borderlands,Positive,So I spent a few hours making something for fu...
6,2402,Borderlands,Positive,So I spent a couple of hours doing something f...
7,2402,Borderlands,Positive,So I spent a few hours doing something for fun...
8,2402,Borderlands,Positive,So I spent a few hours making something for fu...
9,2402,Borderlands,Positive,2010 So I spent a few hours making something f...

In [35]:
#creating table of occurence of words in comments/Phrases and their sentiments
listOfVals=[[] for h in range(len(words))]
sentiments=[]
for i  in range(len(data["text"][:10000])):
    if data["text"][i]==str(data["text"][i]):
        if data["sentiment"][i]=="Positive" or data["sentiment"][i]=="Neutral":
            sentiments.append(1)
        elif data["sentiment"][i]=="Negative":
            sentiments.append(0)
        else:
            sentiments.append(3)
        for g in range(len(words)):
            
            if words[g] in data["text"][i]:
                listOfVals[g].append(1)
            else:
                listOfVals[g].append(0)
    else:
        pass
dataOfVals=pd.DataFrame(tuple(listOfVals),index=words).T
dataOfVals.head(10)

,pitiful,almost,thhat,damned,fairly,negative,extensive,20th,playthrough,essentially,...,non-skip,super,on-call,arcade,5-7,starter,effective,nowhere,liamwhitehouse1,regardless
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
## implementing naive bayes algorithms for predicting sentiments

GPSPW=[]#given positive sentiment list of probabilty of words present
GNSPW=[]#given Negative Sentiment list of probabilty of words present
#Note that GNSNPW(given Negative Sentiment list of probabilty of words not present) is not needed and similarly GPSNPW
total=len(sentiments)
pos=sentiments.count(1)
neg=sentiments.count(0)
for i in words:
    probofposP=0
    probofnegP=0
    for j in range(len(dataOfVals[str(i)])):
        if sentiments[j]==1:
            if dataOfVals[str(i)][j]==0:
                pass
            else:
                probofposP+=1
        else:
            if dataOfVals[str(i)][j]==0:
                pass
            else:
                probofnegP+=1
    GPSPW.append(probofposP/pos)
    GNSPW.append(probofnegP/neg)
di={"GPSPW":GPSPW,"GNSPW":GNSPW}
dictionary=pd.DataFrame(di)
dictionary.to_csv("model_one.csv")
dictionary.head(10)

      GPSPW     GNSPW
0  0.000000  0.001311
1  0.002773  0.018357
2  0.000867  0.000000
3  0.001040  0.000437
4  0.000173  0.000000
5  0.000000  0.000437
6  0.000347  0.000000
7  0.000173  0.000000
8  0.001560  0.000000
9  0.000000  0.003934

In [34]:
model=pd.read_csv("model_one.csv")
GPSPW=model["GPSPW"]
GNSPW=model["GNSPW"]
example=" this is very interesting  thing that happend to me in that place "
examplewords=[]
for i in words:
    if i.lower() in example:
        examplewords.append(1)
    else:
        examplewords.append(0)
pbOfPos=pos/len(sentiments)
pbOfNeg=neg/len(sentiments)
for d in range(len(words)):
    if examplewords[d]==1:
        pbOfPos=pbOfPos*(GPSPW[d])
        pbOfNeg=pbOfNeg*(GNSPW[d])
    else:
        pbOfPos=pbOfPos*(1-GPSPW[d])
        pbOfNeg=pbOfNeg*(1-GNSPW[d])
pbOfNeg,pbOfPos
Negsent=pbOfNeg/(pbOfNeg+pbOfPos)
Possent=pbOfPos/(pbOfNeg+pbOfPos)
print(f"pos:{Possent},neg:{Negsent}")

pos:0.9999651919336001,neg:3.4808066399871695e-05